//这里我们为了兼容v-html这种的class属性
p {
    margin-bottom: px2rem(10px);
    img {
        width: 100%;
    }
}
.male {
    font-family: 'iconfont';
    @extend .icon-like_fill;
}
.female {
    font-family: 'iconfont';
    @extend .icon-like_fill;
}